{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{% trans "Менеджер задач" %}</h1>
            <p class="col-md-8 fs-4">
                {% trans "Простой сервис для управления задачами, статусами и метками." %}
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                {% trans "Начать" %}
            </button>
        </div>
    </div>
{% endblock %}
