{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{% trans "Привет от Хекслета!" %}</h1>
            <p class="col-md-8 fs-4 text-muted">{% trans "Практический курс по программированию" %}</p>
            <hr class="my-4">
            <a href="https://hexlet.io" target="_blank" rel="noopener" class="btn btn-primary btn-lg">{% trans "Узнать больше" %}</a>
        </div>
    </div>
{% endblock %}
