{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Удаление задачи" %}</h1>
    <div class="col-md-8 col-lg-6">
        <form method="post">
            {% csrf_token %}
            <p class="mb-3">
                {% blocktrans with name=object.name %}
                    Вы уверены, что хотите удалить "{{ name }}"?
                {% endblocktrans %}
            </p>
            <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
            <a href="{% url 'tasks:list' %}" class="btn btn-outline-secondary">{% trans "Отмена" %}</a>
        </form>
    </div>
{% endblock %}
