{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Просмотр задачи" %}</h1>

<div class="card">
    <div class="card-header bg-secondary text-white fs-2">
        {{ task.name }}
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <tr>
                <td colspan="2">{{ task.description|linebreaksbr|default:"—" }}</td>
            </tr>
            <tr>
                <td colspan="2"><hr class="my-2"></td>
            </tr>
            <tr>
                <td>{% trans "Автор" %}</td>
                <td>{{ task.author.get_full_name|default:task.author.username }}</td>
            </tr>
            <tr>
                <td>{% trans "Исполнитель" %}</td>
                <td>
                    {% if task.executor %}
                        {{ task.executor.get_full_name|default:task.executor.username }}
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "Статус" %}</td>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <td>{% trans "Дата создания" %}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="mb-1">{% trans "Метки" %}:</div>
                    <ul class="mb-0">
                        {% for label in task.labels.all %}
                        <li>{{ label.name }}</li>
                        {% empty %}
                        <li>-</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <a href="{% url 'tasks:update' task.pk %}">{% trans "Изменить" %}</a>
        <br>
        <a href="{% url 'tasks:delete' task.pk %}">{% trans "Удалить" %}</a>
    </div>
</div>
{% endblock %}
